* {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  html {
    /* background: #ece9e6;
    background: linear-gradient(to top, #ece9e6, #fff); */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
 
.navbar {
    background-color: white !important;
    width: 100%;
    height: 200px;
}
.navbar-brand {
    font-family: "futura-pt-bold";
    font-size: 36px;
    float: left;
    margin-left: 10%;
    letter-spacing: 3px;
}

/* #navbarNavAltMarkup{
    background-color: olivedrab;
    margin-right: 10%;
} */
.navbar .navbar-nav {
    margin-right: 10%;
    /* background-color: pink; */
    font-size: 20px;
    letter-spacing: 3px;

}
.navbar .collapse .nav-item {
    /* background-color: olivedrab; */
    margin-left: 30px;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: transparent !important;
    margin: 20px;
  }
  .footer-container ul {
      list-style: none;
      float: right;
      margin-right: 10%;
      /* background-color: mediumturquoise; */

  }
  .footer-container ul li {
    display: inline-block;
    /* background-color: moccasin; */
    margin-left: 20px;
    font-size: 1.5em;
  }


  .card-deck {
      /* background-color: aquamarine; */
      margin: 10%;
  }